/* color scheme sourced from http://khroma.co/generator/ */

.root {
  --avatar-size: 8rem;

  --light-blue-gray: #b7c9e2;
  --blush-pink: #fe828c;
  --coral-pink: #ff6163;
  --peachy-pink: #ff9a8a;
  --gray-green: #86a17d;
  --light-gray-blue: #9dbcd4;

  --margin-top: 10px;
  --margin-bottom: 10px;
  --margin-left: 10px;
  --margin-right: 10px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #b7dcf8;
  position: relative;

  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  /* font-size: 1rem; */
  line-height: 1;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.1rem;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  /* 3rem = 30px (3 * 10px) */
  font-size: 3rem;
  /* color: var(--cloud-burst); */
}

h2 {
  font-size: 2.3rem;
  /* color: var(--eraser); */
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

li {
  font-size: 1.5rem;
}

p {
  margin-bottom: 0.3rem;
  font-size: 15px;
}

code {
  /* Monospace font stack is used for our code blocks to make it look more like code */
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

.about-info {
  border: 2px #86a17d;
}

header {
  position: fixed;
  background-color: slategrey;
  padding-top: 10px;
  width: 100%;
  z-index: 1;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: slategrey;
  text-align: center;
}

header h1 {
  display: inline-block;
}

header div ul {
  list-style-type: none;
  position: absolute;
  top: 5px;
  right: 15px;
  padding-top: 15px;
}
/*styling the list items in the header*/
header div ul li {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
}

/*inserting the animation effects in list items in the header*/
.menu-class {
  box-shadow: inset 0 -3px 0 -1px #ff9a8a;
  transition: box-shadow 0.15s ease-in-out;
}

.menu-class:hover {
  box-shadow: inset 0 -40px 0 -1px #ff9a8a;
}

.card-header .avatar figure {
  height: 9rem;
  width: 9rem;
}

.top-section {
  padding-top: 100px;
}

.card-info-holder .about-info {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}

.avatar .avatar-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;

  border: solid 2px #86a17d;
}

.github-class {
  margin-left: 35px;
  margin-top: 0%;
}

.github-class li {
  line-height: 3;
}

/*setting the main as flex.It contains 4 different sections*/
main {
  display: flex;
  flex-direction: column;
}

/*setting each section class as flex*/
.section-class {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-info-holder .card-header {
  width: 200px;
}

.card-info-holder .my-work {
  width: 100%;
  padding-bottom: 10px;
}

/*styling and positioning the card content class that contains all the project images and links*/
.card-info-holder .card-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

/*card info holder contains card header and card content*/
.card-info-holder {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

/*styling and positioning each image in section section*/
.card-info-holder .card-content img {
  height: 150px;
  border: 2px solid black;
}

/*image glows and grows in height on hover*/
.card-info-holder .card-content img:hover {
  height: 165px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

/*positioning each figure (which contains image and figure caption)*/
figure {
  position: relative;
}

figcaption {
  position: relative;
  top: -45px;
  left: 20px;
  width: fit-content;
  font-weight: bold;
}

@media Screen and (min-width: 700px) {
  /*styling each (2n+1)th child of the figure class*/
  figure:nth-child(2n + 1) > img {
    border-left: 2px solid black;
    width: 100%;
  }

  figure:nth-child(2n + 1) {
    flex: 1 1 0;
    min-width: 30%;
  }
}

@media screen and (max-width: 1080px) {
  .card-info-holder {
    flex-direction: column;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 699px) {
  li {
    font-size: 1rem;
  }

  .card-info-holder {
    flex-direction: column;
  }

  header div ul {
    font-size: 9px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}
